{% extends 'base.html' %}
{% load static %}

{% block title %}Profile | TalkSnap{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extracss %}

{% block section1 %}
    <div class="profile-details">
        <div class="user-profile">
            <div class="profile-pic">
                <div class="user-part">
                    <div class="user-pic">
                        {% if us.profile.profile_image %}
                            <img src="{{us.profile.profile_image.url}}" id="profile_pic" alt="#">
                            {% else %}
                            <img src="{% static '../static/images/default.png' %}" id="profile_pic" alt="#">
                        {% endif %}
                    </div>
                    <div class="user-fl">
                        <h2>{{us.first_name}} {{us.last_name}}</h2>
                        <p>@{{us.username}}</p>
                    </div>
                </div>
                <div class="user-follow">
                    <div class="user-follower info-us">
                        <a href="{% url 'followers' us.username %}">
                            <p><span id="follower_count">{{follower|length}}</span> Follower</p>
                        </a>
                    </div>
                    <div class="user-following info-us">
                        <a href="{% url 'followings' us.username %}">
                            <p><span id="following_count">{{us.profile.following.all|length}}</span> Following</p>
                        </a>
                    </div>
                    <div class="user-post info-us">
                        <p>{{tw|length}} Post</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="follow-btn">
                {% if request.user.username == us.username %}
                <a href="{% url 'editprofile' us.username %}">
                    <button type="submit" class="btn btn-dark">Edit Profile</button>
                </a>
                {% else %}
                <div class="follow-btn">
                    {% if us.username in user.profile.following.all|unordered_list %}
                        <button class="btn btn-dark change" id="{{us.id}}" onclick="follow({{us.id}})" url="{% url 'follow' us.id %}">Unfollow</button>
                    {% else %}
                        <button class="btn btn-dark" id="{{us.id}}" onclick="follow({{us.id}})" url="{% url 'follow' us.id %}">Follow</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="profile-data">
            <div class="user-all-data">
                {% if us.profile.bio %}
                <div class="bio-info info-us">
                    <i class="far fa-address-book"></i>
                    <span>{{us.profile.bio}}</span>
                </div>
                {% endif %}
                <div class="mail info-us">
                    <i class="far fa-envelope"></i>
                    <span>{{us.email}}</span>
                </div>
                <div class="date-info">
                    {% if us.profile.dob %}
                    <div class="bith info-us">
                        <i class="fas fa-birthday-cake"></i>
                        <span>{{us.profile.dob}}</span>
                    </div>
                    {% endif %}
                    <div class="joind info-us">
                        <i class="far fa-calendar-alt"></i>
                        <span class="j text-muted">Joined</span>
                        <span>{{us.date_joined|date:"F Y"}}</span>
                    </div>
                </div>
                {% if us.profile.location %}
                <div class="bio-info info-us">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{us.profile.location}}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="tweet-show-area">
        <h4 class="tit mb-3 mx-5">Your Tweets</h4>
        {% if tw %}
        {% for t in tw %}
        <div class="tweet-show">
            <div class="user-part">
                <div class="user-pic">
                    {% if us.profile.profile_image %}
                        <img src="{{us.profile.profile_image.url}}" id="profile_pic" alt="#">
                    {% else %}
                        <img src="{% static '../static/images/default.png' %}" id="profile_pic" alt="#">
                    {% endif %}
                </div>
            </div>
            <div class="tweet-part">
                <div class="user-action">
                    <div class="user-name">
                        <div class="user-det">
                            <h4>{{t.user.first_name}} {{t.user.last_name}}</h4>
                            <p class="text-muted">@{{t.user.username}}</p>
                        </div>
                        <small class="text-muted">{{t.post_date | date:'d F Y'}}</small>
                    </div>
                    <div class="actions">
                        <div class="del-action">
                            <a href="{% url 'deltweet' t.id %}">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% if t.post_text %}
                <div class="tweet-text">
                    <p class="text-show">{{t.post_text}}</p>
                </div>
                {% endif %}
                {% if t.post_image %}
                <div class="tweet-pic">
                    <div class="post-in-pic">
                        <img src={{t.post_image.url}} alt="image">
                    </div>
                </div>
                {% endif %}
                <div class="tweet-like m-3">
                    <button type="submit" id="{{t.id}}" class="likea"  {% if user in t.likes.all %} style="color:red;" {% endif %} onclick="myfunction({{t.id}})"  url="{% url 'like' t.id %}">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <span class="mx-1" id="l_{{t.id}}">{{t.likes.all.count}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="card p-2 text-center m-5 w-50">
                <h3>You Haven't Do any Post</h3>
            </div>
        {% endif %}

    </div>
{% endblock section1 %}

{% block extrajs %}
    {{block.super}}
        <script>
            function follow(n){
                let btnId = document.getElementById(n);
                let btnTxt = btnId.innerHTML;
                let myurl = btnId.getAttribute('url');
                let follower_count = document.getElementById("follower_count")
                let following_count = document.getElementById("following_count")

                
                const xhr = new XMLHttpRequest();
                xhr.open('get',myurl,true);
                xhr.responseType = 'json';
                xhr.onload = () => {
                    if(xhr.status === 200){
                        x = xhr.response;
                        console.log(x);
                        if (btnTxt == 'Follow'){
                            follower_count.innerHTML = x['total'];
                        }
                        if (btnTxt == 'Unfollow'){
                            follower_count.innerHTML = x['total'];        
                        }            
                    }
                };
                xhr.send();
    
                if (btnTxt == 'Follow'){
                    btnId.innerHTML = "Unfollow";
                    btnId.classList.add('change');
                    //following_count.innerText = parseInt(following_count) + 1;
                }
                if (btnTxt == 'Unfollow'){
                    btnId.innerHTML = "Follow";
                    btnId.classList.remove('change');
                    //follower_count.innerText = parseInt(follower_count) - 1;

                }            
            }
        </script>

        <script>
        function myfunction(n){
            let likebtn = document.getElementById(n);
            let myurl = document.getElementById(n).getAttribute('url');
            let like = document.getElementById('l_'+n);
   
            const xhr = new XMLHttpRequest();
            xhr.open('get',myurl,true);
            xhr.responseType = 'json';
            xhr.onload = () => {
                if(xhr.status === 200){
                    x = xhr.response
                    console.log(x['total']);
                    like.innerHTML = x['total'];
                }
            };
            xhr.send();
            if (likebtn.style.color == 'red'){
                likebtn.style.color = 'rgba(97, 95, 95, 0.26)';
            }
            else{
                likebtn.style.color = 'red';
            }
        }
        </script>
{% endblock extrajs %}



