* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.container .row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    width: 75%;
    border-radius: 25px;
    background: rgba(228, 226, 226, 0.459);
    box-shadow: 1px 1px 25px 1px rgb(214, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card .card {
    width: 75%;
    margin: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(228, 226, 226, 0.514)
}

.main-card .card-header {
    background: white;
    border-radius: 10px;
}

.main-card .card-header h1{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}
.main-card .card-body{
    padding: 30px;
}

/* Start Responsive */

@media screen and (max-width:1050px) {

}

@media screen and (max-width:770px) {
    .main-card{
        width: 100%;
    }
    .main-card .card{
        margin: 35px;
        width: 100%;
    }
    .main-card .card-body h2{
        font-size: 24px;
        margin-bottom: 0 !important;
        /* padding: 15px !important; */
    }
}

@media screen and (max-width:575px) {
    .main-card{
        padding: 0 !important;
    }
    .main-card .card{
        margin: 20px;
    }
    .main-card .card-header h1{
        font-size: 45px;
    }
    .main-card .card-body{
        padding: 15px;
    }
    .main-card .card-body h2{
        font-size: 20px;
        margin-bottom: 0 !important;
        padding: 10px !important;
    }
    .main-card .card-body h4{
        font-size: 18px;
        margin-bottom: 0 !important;
        padding: 10px !important;
    }
}